<section class="blog">
    <div class="container deal">
        <div class="section-description section-description--deal">
            <h2 class="section-description__title--deal">
                It’s a big deal!
            </h2>
            <p class="section-description__text--deal">
                Subscribe our news letter
            </p>
            <form action="" class="deal__subscribe">
                <input type="email" name="user-email" placeholder="Enter your email">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="deal__img">
            <img src="../assets/img/big-deal-img.jpg" alt="">
        </div>
    </div>
    <div class="container blogpost">
        <div class="blogpost-item">
            <img class="blogpost-item__img" src="../assets/img/blog-post-1.jpg" alt="">
            <div class="blogpost-item__desc blogpost-desc">
                <div class="blogpost-info">
                    <time class="blogpost-info__date">29 February</time>
                    <span class="blogpost-info__author">
                        by admin
                    </span>
                </div>
                <h3 class="blogpost-desc__title">
                    Here's how to get the most out <br>
                    of a Liverpool city!
                </h3>
                <p class="blogpost-desc__text">
                    Travel is the movement of people between <br> 
                    relatively distant geographical locations, and <br> 
                    can involve travel by foot.
                </p>
                <ul class="blogpost-item__sidebar blogpost-sidebar">
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--comment"></li>
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--like"></li>
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--share"></li>
                </ul>                
            </div>
        </div>
        <div class="blogpost-item">
            <img class="blogpost-item__img" src="../assets/img/blog-post-2.jpg" alt="">
            <div class="blogpost-item__desc blogpost-desc">
                <div class="blogpost-info">
                    <time class="blogpost-info__date">29 February</time>
                    <span class="blogpost-info__author">
                        by admin
                    </span>
                </div>
                <h3 class="blogpost-desc__title">
                    Here's how to get the most out <br>
                    of a Liverpool city!
                </h3>
                <p class="blogpost-desc__text">
                    Travel is the movement of people between <br> 
                    relatively distant geographical locations, and <br> 
                    can involve travel by foot.
                </p>
                <ul class="blogpost-item__sidebar blogpost-sidebar">
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--comment"></li>
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--like"></li>
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--share"></li>
                </ul>                
            </div>
        </div>
        <div class="blogpost-item">
            <img class="blogpost-item__img" src="../assets/img/blog-post-3.jpg" alt="">
            <div class="blogpost-item__desc blogpost-desc">
                    <div class="blogpost-info">
                        <time class="blogpost-info__date">29 February</time>
                        <span class="blogpost-info__author">
                            by admin
                        </span>
                    </div>
                <h3 class="blogpost-desc__title">
                    Here's how to get the most out <br>
                    of a Liverpool city!
                </h3>
                <p class="blogpost-desc__text">
                    Travel is the movement of people between <br> 
                    relatively distant geographical locations, and <br> 
                    can involve travel by foot.
                </p>
                <ul class="blogpost-item__sidebar blogpost-sidebar">
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--comment"></li>
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--like"></li>
                    <li class="blogpost-sidebar__item blogpost-sidebar__item--share"></li>
                </ul>                
            </div>
        </div>
    </div>
</section>