<footer>
    <div class="container contacts">
        <div class="footer__contact">
            <ul class="footer-contact">
                <a class="logo logo--footer" href="#"></a>
                <li class="footer-contact__item">
                    Phone: +91 254 541 254
                </li>
                <li class="footer-contact__item">
                    Fax : +44 161 999 8888
                </li>
                <li class="footer-contact__item">
                    Email: dreamland@dream.com
                </li>
                <li class="footer-contact__item social-links">
                    <div class="social-links__item">
                    <a class="social-links__link social-links__link--facebook" href="https://facebook.com/" target="_blank" title="Facebook"></a>
                    </div>
                    <div class="social-links__item">
                        <a class="social-links__link social-links__link--pinterest" href="https://www.pinterest.com/" target="_blank" title="Pinterest"></a>
                    </div>
                    <div class="social-links__item">
                        <a class="social-links__link social-links__link--instagram" href="https://www.instagram.com/" target="_blank" title="Instagram"></a>
                    </div>
                    <div class="social-links__item">
                        <a class="social-links__link social-links__link--twitter" href="https://twitter.com/" target="_blank" title="Twitter"></a>
                    </div>
                    <div class="social-links__item">
                        <a class="social-links__link social-links__link--google" href="https://www.google.com./" target="_blank" title="Google+"></a>
                    </div>
                </li>                    
            </ul>
        </div>
        <div class="footer__support">
            <h3 class="section-description__title section-description__title--footer">
                Support
            </h3>
            <ul class="footer-support">
                <li class="footer-support__item">
                    <a class="footer-support__link" href="">Email Contact</a>
                </li>
                <li class="footer-support__item">
                    <a class="footer-support__link" href="">Help Center</a>
                </li>
                <li class="footer-support__item">
                    <a class="footer-support__link" href="">Live chat</a>
                </li>
                <li class="footer-support__item">
                    <a class="footer-support__link" href="">Our Community</a>
                </li>
                <li class="footer-support__item">
                    <a class="footer-support__link" href="">Services Status</a>
                </li>
            </ul>
        </div>
        <div class="footer__location">
            <h3 class="section-description__title section-description__title--footer">
                Location
            </h3>
            <ul class="footer-location">
                <li class="footer-location__item">
                    <a class="footer-location__link" href="">London</a>
                </li>
                <li class="footer-location__item">
                    <a class="footer-location__link" href="">Canada</a>
                </li>
                <li class="footer-location__item">
                    <a class="footer-location__link" href="">America</a>
                </li>
                <li class="footer-location__item">
                    <a class="footer-location__link" href="">India</a>
                </li>
                <li class="footer-location__item">
                    <a class="footer-location__link" href="">Australia</a>
                </li>
            </ul>
        </div>
        <div class="footer__menu">
            <h3 class="section-description__title section-description__title--footer">
                Menu
            </h3>
            <ul class="footer-menu">
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="">Home</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="">About</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="">Tours</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="">Packages</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="">Blog</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container bottom">
        <div class="bottom__copyright">
            2018 Roy Design. All Rights Reserved 
        </div>
        <ul class="bottom__menu bottom-menu">
            <li class="bottom-menu__item">
                <a class="bottom-menu__link" href="">About Hoststar</a>
            </li>
            <li class="bottom-menu__item">
                    <a class="bottom-menu__link" href="">Privacy Policy</a>
            </li>
            <li class="bottom-menu__item">
                <a class="bottom-menu__link" href="">Help Center</a>
            </li>
            <li class="bottom-menu__item">
                    <a class="bottom-menu__link" href="">Terms</a>
            </li>
            <li class="bottom-menu__item">
                    <a class="bottom-menu__link" href="">Site Map</a>
            </li>
        </ul>
    </div>
</footer>