<section class="packages">
    <div class="best-packages">
        <div class="container container--packages">
            <div class="section-description section-description--packages">
                <p class="section-description__discount">
                50% off discount
                </p>
                <h2 class="section-description__title section-description__title--packages">
                    Best Holiday Packages
                </h2>
                <p class="section-description__text section-description__text--packages">
                    Find your ideal holiday package whether you're travelling in <br> 
                    Australia or around the World. Book Flights & Accommodation <br> 
                    packages in one place with Escape Travel.
                </p>
                <button class="read-button read-button--packages">
                    Read more
                </button>
            </div>
            <div class="packages__img">
                <img src="../assets/img/best-packages-img.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container discount">
        <div class="section-description">
            <h2 class="section-description__title section-description__title--discount">
                30% Discount, stock limited
            </h2>
            <p class="section-description__text section-description__text--discount">
                The world's largest student and youth travel agency. Find cheap flights, tours, Spring Break packages <br> 
                and exclusive travel deals for studentsTake full advantage of privileged discount rates.
            </p>
            <button class="get-button get-button--discount">
                ➜ Get ticket
            </button>
        </div>
        <div class="discount-counter">
            <div class="discount-counter__item discount-counter__item--days">
                <h4>
                    364
                </h4>
                <p>
                    Days
                </p>
            </div>
            <div class="discount-counter__item discount-counter__item--hours">
                <h4>
                    23
                </h4>
                <p>
                    Hours
                </p>
            </div>
            <div class="discount-counter__item discount-counter__item--minutes">
                <h4>
                    59
                </h4>
                <p>
                    Minutes
                </p>
            </div>
            <div class="discount-counter__item discount-counter__item--seconds">
                <h4>
                    59
                </h4>
                <p>
                    Seconds
                </p>
            </div>
        </div>
    </div>
</section>