<section class="tours">
    <div class="container place">
        <h2 class="section-description__title section-description__title--place">Popular place</h2>
        <div id="place__slider" class="place__slider">
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-1.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-2.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-3.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-1.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-2.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-3.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-1.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-2.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
            <figure class="place-slide">
                <img class="place-slide__img" src="../assets/img/popular-slide-3.jpg" alt="">
                <figcaption class="place-slide__desc">
                    <p>
                        $500 2 days 2 night
                    </p>
                    <h3>Mancity, England</h3>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="destination no-wrap">
        <div class="section-description">
            <h2 class="section-description__title">
                Most Popular Travel Destinations
            </h2>
           <p class="section-description__text">
                Love travel? Plan and book your perfect trip with expert advice, travel tips, destination <br> 
                information and inspiration from Lonely Planet
            </p>
        </div>
        <div id="destination__slider" class="destination__slider">
            <figure class="destination-slide">
                <img class="destination-slide__img" src="../assets/img/destinations-slide.jpg" alt="">
                <figcaption class="destination-slide__desc">
                    <div class="section-description section-description--destination">
                        <h3 class="section-description__title section-description__title--destination">
                            Grand Switzerland
                        </h3>
                        <ul class="destination-slide__sidebar">
                            <li class="sidebar-item destination-slide__sidebar--view"></li>
                            <li class="sidebar-item destination-slide__sidebar--like"></li>
                            <li class="sidebar-item destination-slide__sidebar--comment"></li>
                            <li class="sidebar-item destination-slide__sidebar--share"></li>
                            <li class="sidebar-item destination-slide__sidebar--video"></li>
                        </ul>     
                    </div>
                </figcaption>
            </figure>
            <figure class="destination-slide">
                <img class="destination-slide__img" src="../assets/img/destinations-slide.jpg" alt="">
                <figcaption class="destination-slide__desc">
                    <div class="section-description section-description--destination">
                        <h3 class="section-description__title section-description__title--destination">
                            Grand Switzerland
                        </h3>
                        <ul class="destination-slide__sidebar">
                            <li class="sidebar-item destination-slide__sidebar--view"></li>
                            <li class="sidebar-item destination-slide__sidebar--like"></li>
                            <li class="sidebar-item destination-slide__sidebar--comment"></li>
                            <li class="sidebar-item destination-slide__sidebar--share"></li>
                            <li class="sidebar-item destination-slide__sidebar--video"></li>
                        </ul>     
                    </div>
                </figcaption>
            </figure>
            <figure class="destination-slide">
                <img class="destination-slide__img" src="../assets/img/destinations-slide.jpg" alt="">
                <figcaption class="destination-slide__desc">
                    <div class="section-description section-description--destination">
                        <h3 class="section-description__title section-description__title--destination">
                            Grand Switzerland
                        </h3>
                        <ul class="destination-slide__sidebar">
                            <li class="sidebar-item destination-slide__sidebar--view"></li>
                            <li class="sidebar-item destination-slide__sidebar--like"></li>
                            <li class="sidebar-item destination-slide__sidebar--comment"></li>
                            <li class="sidebar-item destination-slide__sidebar--share"></li>
                            <li class="sidebar-item destination-slide__sidebar--video"></li>
                        </ul>     
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="honeymoon no-wrap">
        <div class="container section-description">
            <h2 class="section-description__title">
                Destinations for Honeymoon
            </h2>
            <p class="section-description__text">
                Love travel? Plan and book your perfect trip with expert advice, travel tips, destination <br> 
                information and inspiration from Lonely Planet
            </p>
        </div>
        <div id="honeymoon__slider" class="honeymoon__slider">
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-1.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p>
                    <p class="section-description__timeframe">                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-2.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p>
                    <p class="section-description__timeframe">                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-3.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p>
                    <p class="section-description__timeframe">                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-1.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p>
                    <p>                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-2.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p class="section-description__timeframe">
                    <p>                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-3.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p>
                    <p class="section-description__timeframe">                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-1.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p>
                    <p class="section-description__timeframe">                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-2.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p>
                    <p class="section-description__timeframe">                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
            <figure class="honeymoon-slide">
                <img class="honeymoon-slide__img" src="../assets/img/honeymoon-slide-3.jpg" alt="">
                <figcaption class="honeymoon-slide__desc">
                    <h3 class="section-description__title section-description__title--honeymoon">
                        Switzerland
                    </h3>
                    <p class="section-description__price">
                        $560
                    </p>
                    <p class="section-description__timeframe">                      
                        2 days 2 night
                    </p>
                    <p class="section-description__text section-description__text--honeymoon">
                        There are a few very, very <br> 
                        fine strands of PLA
                    </p>                    
                    <div class="slider-rate">
                    </div>
                    <button class="read-button read-button--honeymoon">
                        More Details                    
                    </button>
                </figcaption>
            </figure>
        </div>
    </div>
</section>